#top,
#bottom {
    position: fixed;
    left: 0;
    right: 0;
    height: 80%;
}

#top {
    top:200 ;
}

#bottom {
    bottom: 0;
    font-size: 24px;
    text-align: center;
 }
#header {
   text-align: center;
}
 .startSelect {
    border-width: 3px;
    border-style: solid;
    border-color:green;
 } 
 .endSelect {
    border-width: 3px;
    border-style: solid;
    border-color:red;
 }
 .used {
    text-decoration: dashed;
    font-size: 10px;
 }