.wrapper {
  border-color: black;
  border-style: dotted;
  display: flex;
  align-items: center;
}

.wrapper:hover {
  filter: brightness(110%);
}

.selected {
  border-color: greenyellow;
  border-style: groove;
  background-color: lightgreen;
}

.unselected {
  border-color: red;
  border-style: groove;
  background-color: lightcoral;
}

.left {
  width: 50vw;
  border: 2px;
  text-align: right;
  vertical-align: middle;
  align-items: center;
}

.right {
  margin-left: 10px;
  width: 47vw;
  left: 5px;
  float: right;
  text-align: left;
  opacity: 100;
}

.row {
  margin-bottom: 30px;
  height: 60px;
  max-height: 60px;
}
img {
  height: 100%;
  width: auto;
  max-width: 50vw;
  max-height: 60px;
}
referenceText {
  font-style: italic;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}